In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../data/processed/absenteeism_cleaned.csv')
print(f"Loaded cleaned data: {df.shape}")
df.head()

Loaded cleaned data: (740, 24)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Has_Disciplinary_Failure,Is_Social_Drinker,Is_Social_Smoker
0,11,26,7,3,1,289,36,13,33,239.554,...,1,0,1,90,172,30,4,0,1,0
1,36,0,7,3,1,118,13,18,50,239.554,...,1,0,0,98,178,31,0,1,1,0
2,3,23,7,4,1,179,51,18,38,239.554,...,1,0,0,89,170,31,2,0,1,0
3,7,7,7,5,1,279,5,14,39,239.554,...,1,1,0,68,168,24,4,0,1,1
4,11,23,7,5,1,289,36,13,33,239.554,...,1,0,1,90,172,30,2,0,1,0

In [2]:
# Create absence categories
# Group absenteeism hours into categories for additional analysis
df['Absence_Category'] = pd.cut(df['Absenteeism time in hours'], 
                                 bins=[0, 4, 8, 24, 120],
                                 labels=['Short', 'Half_Day', 'Full_Day', 'Extended'])

print("Absence Category Distribution:")
print(df['Absence_Category'].value_counts())

Absence Category Distribution:
Absence_Category
Short       417
Half_Day    216
Full_Day     35
Extended     28
Name: count, dtype: int64

In [3]:
# Create season features
season_mapping = {1: 'Summer', 2: 'Autumn', 3: 'Winter', 4: 'Spring'}
df['Season_Name'] = df['Seasons'].map(season_mapping)

print("Season Distribution:")
print(df['Season_Name'].value_counts())

Season Distribution:
Season_Name
Spring    195
Autumn    192
Winter    183
Summer    170
Name: count, dtype: int64

In [4]:
# Create workload categories
df['Workload_Category'] = pd.cut(df['Work load Average/day'], 
                                  bins=[0, 250, 300, 400],
                                  labels=['Low', 'Medium', 'High'])

print("Workload Category Distribution:")
print(df['Workload_Category'].value_counts())

print("\nFeature engineering complete!")
df.head()

Workload Category Distribution:
Workload_Category
Medium    318
Low       255
High      167
Name: count, dtype: int64

Feature engineering complete!

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Weight,Height,Body mass index,Absenteeism time in hours,Has_Disciplinary_Failure,Is_Social_Drinker,Is_Social_Smoker,Absence_Category,Season_Name,Workload_Category
0,11,26,7,3,1,289,36,13,33,239.554,...,90,172,30,4,0,1,0,Short,Summer,Low
1,36,0,7,3,1,118,13,18,50,239.554,...,98,178,31,0,1,1,0,NaN,Summer,Low
2,3,23,7,4,1,179,51,18,38,239.554,...,89,170,31,2,0,1,0,Short,Summer,Low
3,7,7,7,5,1,279,5,14,39,239.554,...,68,168,24,4,0,1,1,Short,Summer,Low
4,11,23,7,5,1,289,36,13,33,239.554,...,90,172,30,2,0,1,0,Short,Summer,Low